.configure_results
.git_mirror
.build_done
data/bashstyle
data/bashstyle-config-helper
data/bashstyle-ng.pc
doc/bashstyle.1.gz
doc/html/
i18n/bashstyle-rc.pot
i18n/bashstyle.pot
i18n/de/bashstyle-rc.mo
i18n/de/bashstyle.mo
rc/bashstyle-rc
ui/bashstyle.ui.h
