Source: bashstyle-ng
Section: utils
Priority: extra
Maintainer: Christopher Roy Bratusek <nano@jpberlin.de>
Build-Depends:  debhelper (>= 9),
                sed (>= 4.2.1),
                grep (>= 2.12),
                bash (>= 3.2),
                gawk,
                debianutils (>= 4.3.2),
                python3,
                python3-all,
                python3-gi,
                python3-configobj,
                dh-python
Standards-Version: 3.9.6

Package: bashstyle-ng
Architecture: all
Depends:        bash (>= 3.2),
                bc,
                procps,
                gawk,
                grep (>= 2.12),
                python3,
                python3-gi,
                sed (>= 4.2.1),
                less,
                libgtk-3-bin,
                ${misc:Depends},
                ${python3:Depends},
                python3-configobj
Suggests:       nano,
                vim,
                acpi,
                dmidecode,
                tree,
                ghostscript,
                pciutils,
                usbutils,
                wget,
                git
Description: Graphical tool and functions for customizing Bash
 BashStyle-NG is a graphical tool and toolchain for changing the behaviour
 and look'n'feel of Bash, Readline, Vim, Nano and Git.
 .
 Possibilities include:
  Bash:
    - 12 fancy pre-defined prompt styles
      - colors are customizable
      - random text color possible
      - random prompt style for each session possible
      - create your own prompt using UI
        - customizing pre-defined ones possible
      - alternatively monochrome prompts instead of colored
    - colored manpages (without using most)
    - colored output from ls and grep (matches)
      - colors are customizable
    - rembering last visited directory (and restore upon new session)
    - customize bash history settings
    - lscd: customized variant of cd, showing content of directory
      after cd, can create directories that don't exist, passing of
      customized ls parameters possible
    - un/setting shopts (shell options) for Bash 4.3 / 4.0-4.2 / 3.2+
    - customizable completion blacklist, timeout, welcome message and more
  Git:
    - set Git user name
    - set Git mail address
    - set Git editor for commit messages
    - set Git colored output
  Readline:
    - un/set completion
    - un/set case sensitivity
    - un/set horizontal completion
    - un/set mark filetypes and folders
    - un/set include hidden files incompletion
    - customize almost 30 keybindings
  VIM:
    - un/set remember last position
    - un/set syntax highlighting
    - un/set auto indention
    - un/set case sensitive search
    - un/set incremental search
    - un/set display line numbers
    - un/set highlight current line/column
    - set dark or bright background
    - set line-wrap and tab-length
    - set color scheme
    - enable ruler/set ruler format
  Nano:
    - un/set search history
    - un/set syntax highlighting
    - un/set auto indention
    - un/set case sensitive search
    - fix backspace and numblock assignment
  Extras:
    - several extra functions for daily use
      - systemkit: show various system information, including cpu, system load,
        used/free/total ram and more
      - gitkit: various companion functions for Git, like exporting the repo
        (like 'svn export'), creating tar.gz/tar.bz2/tar.xz/.zip archives from
        repo, getting active branch/action/revision/revno from repo (for PS1)
      - math conversion functions: convasc, convbin, convdec, convhex, convoct,
        convtemp. Convert between ascii, binary, decimal, hexadecimal, octal or
        temperature units
      - random: create random strings (for example passwords) of various types
      - scripts for working with files: map (run a command on given files, for
        non-batch commands), batch (batch-perform actions on files), basefile
        (extract extension, filename with/without extension or filepath from
        full filename, similar to basename), randomfile (perform action on a
        random file, also has history, multiple executions support and more)
      - and several more (see /usr/share/bashstyle-ng/rc/functions/ for all)
