Source: bashstyle-ng
Section: utils
Priority: extra
Maintainer: Christopher Roy Bratusek <nano@tuxfamily.org>
Build-Depends: 	debhelper (>= 5),
 		autotools-dev,
                sed (>= 4.2.1),
                grep (>= 2.12),
                make (>= 3.80),
                ncurses-bin (>= 5.9),
                bash (>= 3.2),
                gawk,
                debianutils (>= 4.3.2),
                python (>= 2.4),
                python-gi | python3-gi,
                python-configobj,
                python-support (>= 0.90)
Standards-Version: 3.9.4

Package: bashstyle-ng
Architecture: all
Depends: 	bash (>= 3.2),
 		bc,
 		procps,
 		gawk,
                grep (>= 2.12),
 		python (>= 2.4) | python3,
 		python-gi | python3-gi,
                sed (>= 4.2.1),
 		less,
 		libgtk-3-bin,
                whiptail,
                gir1.2-gtk-3.0,
                ${misc:Depends},
                ${python:Depends},
                python-configobj
Suggests:  	nano,
 		vim,
 		acpi,
 		dmidecode,
                tree,
                ghostscript,
                pciutils,
                usbutils
Description: Graphical tool and toolchain for Bash
 BashStyle-NG is a graphical tool and toolchain for changing
 the behaviour and look'n'feel of Bash, Readline, Vim and Nano
 .
 Possibilities include:
   - create your own prompt
   - get colored manpages [without using most]
   - choose between 12 pre-defined prompts
   - change the colors of ls and grep output
   - store your own customizations in $HOME/.bashstyle.custom
   - use vendor configuration (for every new user)
