#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@ --no-cat --with python3

override_dh_auto_configure:
	dh_auto_configure -- --no-postinstall

override_dh_auto_build:
	./make build

override_dh_auto_clean:
	./make clean

override_dh_auto_install:
	DESTDIR=$(CURDIR)/debian/bashstyle-ng ./make install
