#!/usr/bin/make -f

export DH_VERBOSE = 1

build: build-stamp

build-stamp: 
	dh_testdir
	./configure mm
	$(MAKE)
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp 
	-$(MAKE) clean
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) KILL_DISABLE=1 CACHE_DISABLE=1 GCONF_DISABLE=1 RC_DISABLE=1 DESTDIR=$(CURDIR)/debian/bashstyle-ng/ install

binary-indep: build install
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
