[Desktop Entry]
Type=Application
TryExec=bashstyle
Exec=bashstyle
Icon=bs-ng
Terminal=false
Categories=System;TerminalEmulator;
Name=BashStyle-NG
Comment=Configure Bash, ReadLine, Vim and Nano
