[Desktop Entry]
Type=Application
TryExec=bashstyle
Exec=bashstyle
Icon=bashstyle-ng
Terminal=false
Categories=System;TerminalEmulator;
Name=BashStyle-NG
Comment=Configure Bash, readline, Vim, GNU Nano and more
