[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=bs-ng
Name=BashStyle-NG
Exec=bashstyle
Comment=Configure Bash, ReadLine, Vim and Nano
Categories=GTK;GNOME;Utility;
