# you can run dirinfo_index_db to
# index all of your .dirinfo files

# .dirinfo files are used by BS-NGs
# lscd and dirinfo_* functions

# Name of the folder owner
# don't forget the quotes
Owner="Christopher Roy Bratusek"

# Type of the folder can be one of:
# book, document, download, game,
# home, mediaplayer, music,
# picture, share, video
Type=home

# Creation Date
# you may use dirinfo_set_creation_date
# to automatically set... linux doesn't
# save creation date, so the functions
# inserts the last modification date
Created=2010-07-10

# Tag your folder
# if youalready run dirinfo_index_db you
# may run dirinfo_index_tags to also
# index your tags. Then you may use
# dirinfo_search --tags <tag> to find
# all directories tagged with <tag>
Tags=(home, private)

# Some additional notes
Notes=""
